.card-wrapper {
  padding-bottom: 10px;
}

.card {
  background-color: white;
  border-radius: 15px;
  padding-left: 25px;
  padding-top: 2px;
  padding-bottom: 10px;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
}

.card-progress {
  width: 90%;
  background: #f1f1f1;
  /* background: #42555a; */
  color: red;
  height: 10px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 15px;
}

/* background: */
progress::-webkit-progress-bar {
  background-color: black;
  width: 100%;
}
progress {
  background-color: black;
}

/* value: */
progress::-webkit-progress-value {
  background-color: #42555a !important;
}
progress::-moz-progress-bar {
  background-color: #42555a !important;
}
progress {
  color: #42555a;
}

.card-title {
  margin: 0;
  margin-top: 10px;
}

.card-updated-at {
  font-size: 12px;
}
