.card-wrapper {
  padding-bottom: 10px;
}

.card {
  background-color: white;
  border-radius: 15px;
  padding-left: 25px;
  padding-top: 2px;
  padding-bottom: 10px;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
}

.card-title {
  margin: 0;
  margin-top: 10px;
}

.card-updated-at {
  font-size: 12px;
}
