.create-card-layout {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5px;
}

.create-case-btn {
  margin-right: 5px;
  font-size: 18;
}
