.create-card-layout {
  padding-top: 15px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5px;
}

.create-case-btn {
  margin-right: 5px;
  outline: none;
  border: none;
  background-color: unset;
  padding-left: 10px;
}
